{% extends "ToDoPrviBundle:Default:appTemplate.html.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block content %}


    <script type="text/javascript">
        $(document).ready(function (){
            $("#navbar_home").addClass("active");
        });
    </script>

    <div class="container">

        {#TODO items#}
        <a href="{{ path('removeAll') }}"><input type="button" class="btn btn-danger" value="delete all"></a>


        <h2>Sort by</h2>
         <form id="form_sort" method="POST" action="{{ path("sortBy") }}">
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="sort_param" value="byName" checked="">
                        name
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="sort_param" value="byLocation">
                        location
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="sort_param" value="byCreatedDate">
                        created date
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="sort_param" value="byExpDate">
                        expiration date
                    </label>
                </div>
            <input type="submit" class="btn btn-primary" value="sort">
        </form>


        <h2> Your todo list</h2>
        <div class="list-group">
            {% for item in items %}
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-editor-border-color"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">{{ item.getName() }}</h4>
                    <p class="list-group-item-text"> Created on: {{ item.getCreationTime().format("l jS F Y") }}</p>
                    <p class="list-group-item-text"> Expires on: {{ item.getDueDate().format("l jS F Y") }}</p>
                    <p class="list-group-item-text"> Location: {{ item.Location() }}</p>
                    <a href="{{ path('edit', {'id' : item.getId()}) }}"><input type="button" class="btn btn-primary" value="edit"></a>
                    <a href=" {{ path('remove', {'id' : item.getId()}) }} "><input type="button"
                                                                                   class="btn btn-danger"
                                                                                   value="delete"></a>
                </div>
            </div>
            {% endfor %}
            <div class="list-group-separator"></div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
        <a id="button_addNew" href="{{ path('addNew') }}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
        {{ parent() }}
    {% endblock %}