{% extends "ToDoPrviBundle:Default:appTemplate.html.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navbar_notes").addClass("active");
            });
        </script>
    <div class="container">
        <h2>Your notes</h2>
        <div class="panel-group">
            {% for note in notes %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{ note.getId() }}">{{ note.getTitle() }}</a>
                    </h4>
                </div>
                <div id='collapse{{ note.getId() }}' class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ note.getContent() }}
                    </div>
                    <div class="panel-footer">{{ note.getCreationTime().format("l jS F Y") }} <br />
                        <a href="{{ path('editNote', {'id' : note.getId()}) }}"><input type="button" class="btn btn-primary" value="edit"></a>
                        <a href=" {{ path('removeNote', {'id' : note.getId()}) }} "><input type="button" class="btn btn-danger" value="delete"></a>
                    </div>
                </div>
            </div>
            <div class="list-group-separator"></div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

     {% block footer %}
         {% if is_granted("ROLE_USER") %}
             <a id="button_addNew" href="{{ path('addNew') }}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
         {% endif %}
         {{ parent() }}
     {% endblock %}